{% extends "base.html.twig" %} {% block body %}
<section class="index_twig">

  {% for label, messages in app.flashes %}
  {% for message in messages %}
  <div>
      {{message}}
  </div>
  {% endfor %}
  {% endfor %}


  <h1>Liste des articles</h1>
  
  <a class="new-article" href={{path('article_new')}}>Ajouter article</a>

{% for article in articles %}
  <article class="article">|
    <div class="index_fields">
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <span>{{ article.status }}</span>
    <p>{{ article.createdAt|date("m/d/Y H:i") }}</p>
    </div>
 
    <div class="index_links">
    <a href="{{ path('article_show', {id: article.id}) }}">Lire</a>
    <a href="{{ path('article_edit', {id: article.id}) }}">Modifier</a>
    {% include "articles/delete_form.html.twig" %}
    </div>
  </article>
</section>
{% endfor %} 

{% endblock %}
